# 依赖
node_modules/

# 构建产物
dist/
dist-ssr/
*.local

# 编译缓存
*.tsbuildinfo
*.tsbuildinfo.json

# 测试产物
coverage/
.vitest/

# 编辑器/系统
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 日志
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Tauri/Rust
src-tauri/target/
src-tauri/gen/schemas
